@model Banking_system.Models.Workers
@using Banking_system.Models

@{
    ViewBag.Title = "Delete";
    var account = ViewData["account"] as Accounts;
}
<title>Удаление</title>
<h2>Удаление сотрудника</h2>

<h3>Уверены что хотите удалить?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Фамилия")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Имя")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayName("Отчество")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayName("Должность")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post)
        </dd>

        <dt>
            @Html.DisplayName("Аккаунт")
        </dt>

        <dd>
           Login: @account.username Password: @account.pasword
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
