<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body >

    <div class="navbar navbar-inverse navbar-static-top" >
        @*navbar-fixed-top*@
            <div class="top" style="background-color: #E5E5E5;margin-top: -60px">
                <div class="center-block">

                    <a href="/Home/Index" ><img style="margin: 0 auto;   " class="img-responsive " src="~/Images/logo.png" alt="Alternate Text" width="150" height="80" /></a>
                </div>
            </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="Дополнительные параметры">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                @Html.ActionLink("Сбер fake", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("Информация", "About", "Home")</li>
                    <li>@Html.ActionLink("Связаться", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Расчет оплаты", "Calculate", "Home")</li>

                    @{
                        if ((string)Session["Userid"] == "Admin")
                        {

                            <li>@Html.ActionLink("Клиенты", "Index", "Clients")</li>
                        }
                    }



                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()   
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
